html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    box-sizing: border-box;
}

body {
    background: #fff url("../img/background.jpg");
    background-size: cover;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #333;
    font-size: 1.5em;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    color: #111;
    text-decoration: none !important;
    transition-property: color;
    transition-duration: .7s;
}

a:hover {
    color: #003366;
}

.clear::after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.topLine {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    color: #fff;
    z-index: 5;
}

.topLine--blue {
    background: rgba(12, 80, 156, 0.8);
}

.topLine--yellow {
    background: rgba(164, 133, 0, 0.8);
}

.topLine--magenta {
    background: rgba(164, 11, 155, 0.8);
}

.topLine--orange {
    background: rgba(185, 96, 0, 0.8);
}

.topLine--green {
    background: rgba(82, 153, 8, 0.8);
}

.topLine__left {
    float: left;
    width: 35%;
    padding-left: 12px;
}

.topLine__left a.btnBack {
    background: rgba(0, 0, 0, 0.4);
    padding: 4px 8px;
    border-radius: 5px;
    color: #fff;
}

.topLine__left a span {
    font-size: 1.2em;
}

.topLine__center {
    float: left;
    width: 30%;
    text-align: center;
    line-height: 1.2em;
    font-size: 1.2em;
}

.topLine__right {
    float: left;
    width: 35%;
    height: 32px;
    padding-right: 12px;
    text-align: right;
}

.topLine__icon {
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 32px;
    width: 32px;
}

.topLine__icon--globe {
    background-image: url("../img/icon-globe.png");
}

.topLine__icon--settings {
    background-image: url("../img/icon-settings.png");
}

.topLine__icon--trash {
    background-image: url("../img/icon-trash.png");
}

.topLine__icon--write {
    background-image: url("../img/icon-write.png");
}

.topLine__icon a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.topLine__icon a span.notification {
    position: relative;
    top: -4px;
    right: -4px;
    background: red;
    color: #fff;
    font-weight: bold;
    padding: 0 2px;
    border-radius: 5px;
}

#main {
    padding-top: 60px;
    height: 100%;
    overflow-y: scroll;
    z-index: 2;
}

.bottomFixMessage {
    padding-bottom: 54px;
}

.bottomFixMeetingsEvents {
    padding-bottom: 66px;
}

.menu {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    -webkit-justify-content: space-around;
    /* Safari */
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5%;
    height: 100%;
}

a.menuIcon {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin: 5%;
    width: 40%;
    max-width: 128px;
    min-width: 95px;
}

.menuIcon img {
    width: 100%;
}

.defaultTable {
    width: 100%;
    font-size: 1.4em;
}

.defaultTable td.arrow {
    background: url("../img/icon-arrow.png") no-repeat center right 5px;
    background-size: 38px;
}

.defaultTable tr:nth-child(even) td {
    background-color: rgba(255, 255, 255, 0.4);
}

.defaultTable td a {
    width: 100%;
    line-height: 3em;
    padding: 0 40px 0 12px;
    display: inline-block;
}

.defaultTable td a.multiLine {
    line-height: 1.2em;
    padding-top: 12px;
    padding-bottom: 12px;
}

.defaultTable--msg td {
    padding: 10px 0;
}

.defaultTable--msg td a {
    line-height: 1.2em;
    padding-right: 12px;
}

.defaultTable--msg td img {
    float: left;
    max-width: 55px;
    margin-right: 10px;
}

.defaultTable--msg td span.messageHold {
    float: left;
    display: block;
    width: calc(100% - 65px);
}

span.messagePreview {
    display: block;
    font-size: .8em;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.modal-dialog {
    position: absolute;
    top: 27%;
    left: 0;
    right: 0;
    margin: 0 5%;
}

.message {
    width: 90%;
    margin: 10px;
}

.message__date {
    font-weight: bold;
    display: inline-block;
    width: 100%;
    padding: 0 10px 5px;
}

.message.right .message__date {
    text-align: right;
}

.message__bulb {
    width: 100%;
    padding: 5px 10px;
    font-size: 1.2em;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}

.message.left .message__bulb{
    background-color: rgba(78, 170, 245, 0.8);
}

.message.right .message__bulb{
    background-color: rgba(236, 192, 16, 0.8);
}

.message.left {
    float: left;
}

.message.right {
    float: right;
}

.messageSend {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    background: rgba(240, 240, 240, 0.9);
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.messageSend input[type="text"] {
    width: 80%;
    float: left;
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 1.1em;
    padding: 4px 12px;
}

.messageSend input[type="submit"] {
    width: 20%;
    float: left;
    background: transparent;
    border: none;
    color: #003366;
    font-weight: bold;
    padding-left: 18px;
    display: block;
    font-size: 1.4em;
}

.meetingActions {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    background: rgba(240, 240, 240, 0.9);
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    -webkit-justify-content: space-between;
    /* Safari */
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
}

.meetingActions a {
    margin: 0 24px;
}

a.bigBtn {
    display: block;
    background: #fff;
    border: 2px solid #111;
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}

a.bigBtn--dark {
    background: #222;
    color: #eee;
}

a.bigBtn--green {
    background: #87d42c;
    border-color: #5c9815;
}

a.bigBtn--magenta {
    background: #a01798;
    border-color: #7e0777;
    color: #eee;
}

a.bigBtn--orange {
    background: #b0600a;
    border-color: #8b4d0a;
    color: #eee;
}

.popover {
    top: 56px!important;
    left: 0!important;
    right: 0!important;
    color: black;
    max-width: initial!important;
    border: none;
    border-radius: initial;
}

.popover.bottom {
    margin-top: 0;
}

.popover.bottom>.arrow {
    top: -10px!important;
    left: auto!important;
    right: 25px!important;
    margin-left: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
}


.popover.bottom>.arrow:after {
    margin-left: 0!important;
}

.popover-content {
    height: 200px!important;
    overflow: scroll;
}